body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;

  /* imagen de BG con las viñetas */
  background-image: url(./assets/imgs/bg-figuras.png);
  /* tamaño de la imagen */
  background-size: cover;
  /* posicion de la imagen */
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backCarro {

  border-radius: 25px;
}

.carroPage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pageFigura {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  border-radius: 30px;
  color: white;
  text-align: center;
}
